body {
    background: gray;
    font-family: Courier New, Courier, monospace
}

.hidden {
    opacity: 0;
    background-color: black;
    /* display: none; */
}
.visible{
    opacity: 1; 
    background-color: white;
    /* display: block; */
    border-radius: 30px;
}

main {
    margin: 0;
    padding: 15px 0 20px 20px;
    height: 100px;
    width: 340px;
    margin: auto;
    /* transition: all 3ss; */
}
.over{
    background-color: yellow;
    transform: scale(1.5) translateY(100px);
}

#logo {
    float:right;
    margin: 0;
    transition: transform 0.5s;
    animation: animation-logo 4s;
    animation-iteration-count: infinite;
}
.upsidedown {
   transform: rotate(180deg);
}

h1, #subtitle {
    margin: 0;
}

h1 {
    margin-top: 15px;
    font-size: 1.2em;
    animation: animation-title 4s;
    animation-delay: 1s;
}
@keyframes animation-title {
    25%{
        transform: translate(-500px, -500px);
    }
    50% {
        opacity: 0;
        color: red;
    }
    75% {
        color: green;
        transform: scale(1);
    }
}
@keyframes animation-logo {
    50% {
        transform: rotate(180deg) scale(0.8);
        opacity: 1;
    } 
    60% {
        opacity: 0;
    }
}

#subtitle {
    background-color: black;
    color: white;
    float: left;
    padding: 5px;
    margin-top: 5px;
    animation: animation-subtitle, 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
@keyframes animation-subtitle {
    35%{
        background-color: green;
    }
    75% {
        background-color: blue;
    }
}