body {
    background: gray;
    font-family: Courier New, Courier, monospace
}

.hidden {
    opacity: 0;
    background-color: black;
    /* display: none; */
}
.visible{
    opacity: 1; 
    background-color: white;
    /* display: block; */
    border-radius: 30px;
}

main {
    margin: 0;
    padding: 15px 0 20px 20px;
    height: 100px;
    width: 340px;
    margin: auto;
    transition: all 3ss;
}
.over{
    background-color: yellow;
}

#logo {
    float:right;
    margin: 0;
}

h1, #subtitle {
    margin: 0;
}

h1 {
    margin-top: 15px;
    font-size: 1.2em;
}

#subtitle {
    background-color: black;
    color: white;
    float: left;
    padding: 5px;
    margin-top: 5px;
}